@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');
.ChatInfo {
  height: 5%;
  max-height: 5%;
  width: 100%;
  max-width: 100%;
  position: relative;
  padding: 1% 1% 0 1%;
  font-size: 19px;
  border-style:solid;
  text-align: left;
  border-width: 0 0 1px 0;
  font-family: "Radio Canada Big", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  align-content: flex-start;
  flex: 0 1 auto;
}
.tooltip-popup-content {
  position: absolute;
  right: 0;
  width: fit-content;
  border-style: solid;
  border-width: 2px;
  background-color: white;
  float: right;
  max-width: fit-content;
  max-height: 75%;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: thin;
}
.tooltip-popup-arrow {
  color: black;
}
[role='tooltip'].tooltip-popup-content {
  width: 200px;
}

.tooltip-popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].tooltip-popup-overlay {
  background: transparent;
}