.ChatBox {
    width: 94%;
    height: 35px;
    max-height: 200px;
    padding: 4px 5px 4px 5px;
    border: 2px solid #ccc;
    border-radius: 12px;
    background: #f3f3f5;
    font-size: 17px;
    resize: none;
    margin: 10px 5px;
}
.SendButton {
    width: 40px;
    height: 40px;
    border-width: 0 0 0 0;
    background-color: transparent;
    background-image: url('../../static/icons/send-button.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.SendButton:hover {
    background-color: lightslategrey;
}