.ChatBox {
    width: 94%;
    height: 30px;
    max-height: 200px;
    padding: 4px 5px;
    border: 2px solid darkgrey;
    border-radius: 12px;
    font-size: 16px;
    resize: none;
    margin: 10px 5px;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
.ChatBox:focus {
    border-color: black;
    outline: none;
}
.SendButton {
    background-image: url('../../static/icons/send-button.png');
}
.FunctionButton {
    width: 40px;
    height: 40px;
    border-style: none;
    border-color: #000;
    background-color: transparent;
    margin: 0 1px;
    background-repeat: no-repeat;
    background-size: 95% 95%;
}
.ImageButton {
    background-image: url('../../static/icons/image.png');
}
.VideoButton {
    background-image: url('../../static/icons/video.png');
}
.FunctionButton:hover {
    border-width: 1px;
    border-style: solid;
}
.Input {
    padding: 2px 3px;
}
.RemoveButton {
    margin: 0 10px 0 auto;
    background-image: url('../../static/icons/remove.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    flex-shrink: 0;
    box-shadow: none;
}
.RemoveButton:hover {
    border: 2px solid black;
}