.Message {
  display: block;
  position: relative;
  max-width:55%;
  word-wrap:break-word;
  background-color: white;
  margin: 4px 2% 4px 0;
  padding: 5px 7px 5px 7px;
  border-radius: 5px;
  border-style: solid;
  clear: both;
  border-width: 3px;
  border-color: grey;
  left: 1%;
  right: 1%;
  white-space:pre-wrap;
}
