.Message {
  display: inline-block;
  position: relative;
  width:55%;
  word-wrap:break-word;
  left: 1%;
  background-color: white;
  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 5px;
  border-style: solid;
  clear: both;
  border-width: 3px;
  border-color: grey;
}
