.Chat {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  flex: 1;
}
.User-Button {
  float:right;
  height: 100%;
  aspect-ratio: 1/1;
  margin-right: 5px;
  background-color: transparent;
  border-style: none;
  border-radius: 50%;
  display: inline-block;
  background-image: url("../../static/icons/settings.png");
  background-repeat: no-repeat;
  background-size: 98%;
  background-position: center;
}
.User-Button:hover {
  border: 1px solid black;
}
.error-popup-content {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  border: 1px solid black;
  animation: popup-open 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}
.error-popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].modal-popup-overlay {
  background: transparent;
}