.select {
  appearance: none;
  border: solid 1px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 12px;
  padding-left: 2px;
}
.reload {
  width :25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  background-color: transparent;
  border: none;
  margin-Left: auto;
  background-image: url('../../static/icons/reload.png');
  border-radius: 50%;
}
.reload:hover {
  background-color: lightgray;
}
.drop-down-button {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  background-color: white;
  aspect-ratio: 1/1;
  align-self: center;
  flex-shrink: 0;
}
.drop-down-open {
  animation: open-dropdown 0.5s;
  transform: rotate(45deg);
}
@keyframes open-dropdown {
  from {transform:  rotate(-45deg)}
  to {transform:  rotate(45deg)}
}
.drop-down-close {
  animation: close-dropdown 0.5s;
  transform:  rotate(-45deg);
}
@keyframes close-dropdown {
  from {transform: rotate(45deg)}
  to {transform: rotate(-45deg)}
}
.user-action {
  background-color: white;
  border: 1px solid black;
  color: red;
  padding: 4px;
}
.user-action:hover {
  background-color: red;
  color: yellow
}