.PasswordPrompt {
  margin: 5px 2px 0 2px;
  padding: 5px;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  outline: none;
  border: 1px solid gray;
}
.PasswordPrompt:focus {
  outline: 2px solid black;
}
.ConfirmButton {
  background: #CD5C5C;
  color: white;
  border: solid 1px #CD5C5C;
  padding: 5px;
  font-size: 15px;
  display: block;
}
.ConfirmButton:hover {
  background: #DC143C;
  border: solid 1px black;
}
.ConfirmButton:active {
  background: #B22222;
  border: solid 1px black;
}
.BackButton {
  background-image: url("../../static/icons/back.png");
  background-repeat: no-repeat;
  background-size: 80% 80%;
  background-position: center;
  background-color: transparent;
  margin: 5px 0 10px 0;
  border: none;
  aspect-ratio: 1/1;
  width: 2.2%;
  border-radius: 5px;
}
.BackButton:hover {
  background-color: lightgray;
}
.confirm-popup-content {
  background: white;
  border: none;
  animation: confirm-popup-open 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
}
.confirm-popup-overlay {
  background: rgba(0, 0, 0, 0.3);
}
@keyframes confirm-popup-open {
  0% {
    opacity: 0.5;
    top: -10px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}